<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<title></title>
</head>
<body>

<script type="text/template" id="photo-template">
<div>
	<section id="photoChoose">
	<div class="photo-text animation-target">
		<img src =<%= imgSrc%> >
		<section class="text" >
			<h2 id="preview-title"><%= title%></h2>
			<p id="preview-description"><%= description %></p>			
		</section>
	</div>
			<img src="img/arrowLeft.png" class="arrowLeft">
			<img src="img/arrowRight.png" class="arrowRight">
	<button id="create-mode" class="myButton">Back to create mode</button>
	<button id="edit" class="myButton">Edit</button>
	<button id="save" class="myButton" style="display: none">Save</button>

	<input type="text" class="arrow-nav">
</section>
</div>
</script>
<script type="text/template" id="create">
	<input type="text" placeholder="title" id="title">
	<i class="icon-warning-sign">  Fill title, please :)</i> 
	<div class="style-nav">
		<button class="pick-style" id="addBold"><b>B</b></button>
		<button class="pick-style" id="addCursive"><i>I</i></button>
		<button class="pick-style" id="addUnderline"><u>U</u></button>
		<!-- <input type="text" placeholder="Type font" id="font"> -->
		<button class="pick-style" id="unorderedList"><i class="icon-list-ol"></i></button>
		<button class="pick-style" id="orderedList"><i class="icon-list-ul"></i></button>

	</div>
	<div contentEditable="true" id="description" ></div>
	<p>Paste link to image or pick it from disk</p>
	<input type="text" placeholder="image" id="image">
	<button id="add-model" class="myButton">Add</button>
	<button id="preview" class="myButton">Preview</button>


</script>

<script type="text/javascript" src="js/model/photo.js"></script>
<script type="text/javascript" src="js/view/photoView.js"></script>
<script type="text/javascript" src="js/collection/photoes.js"></script>
<script type="text/javascript" src="js/view/photosView.js"></script>
<script type="text/javascript" src="js/view/cPhotoView.js"></script>
<script type="text/javascript" src="js/collection/createPhoto.js"></script>
<script type="text/javascript" src="js/view/createPhotoView.js"></script>
<script type="text/javascript" src="js/appfile.js"></script>
</body>
</html>